.connect__header {
    margin-top: 40px;
    background-image: url(../../images/Bitmap\(1\).png);
    background-repeat: no-repeat;
    background-position: right;

    &__container {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img {
            width: 134px;
            height: 37px;
        }

        &__list {
            list-style: none;
            display: flex;
            gap: 40px;

            &__link {
                font-family: "public sans";
                font-weight: 700;
                font-size: 15px;
                text-decoration: none;
                color: #36536B;

                &:hover {
                    opacity: 0.6;
                    transition: 0.3s ease;
                }

            }
        }

        &__link {
            text-decoration: none;
            color: #FBFCFE;
            padding: 15px 25px;
            background-color: #BA4270;
            border-radius: 24px;
            box-shadow: 10px 10px 25px -10px #36536B40;
            font-family: "public sans";
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect{
    margin-top: 82px;


    &__title{
        font-size: 56px;
        color: #36536B;
        font-weight: 400;
    }

    &__inputs{
        margin-top: 43px;
        display: flex;
        flex-direction: column;

        &__inp{
            margin-bottom: 24px;
            background-color: transparent;
            width: 445px;
            height: 42px;
            border: none;
            border-bottom: 2px solid #000;
            opacity: 50%;
            outline: none;
            font-size: 16px;
            padding: 5px;
            transition: 0.3s;
        
            &::placeholder{
                font-family: "public sans";
            }

            &:focus{
                border-bottom: 2px solid #FF0000;
                opacity: 50%;

                &::placeholder{
                    color: #FF0000;
                }
            }

        }

        &__box{
            width: 24px;
            height: 24px;
            border-radius: 4px;
            accent-color: #BA4270;
            border: none;
            outline: none;
        }

        &__check{
            display: flex;
            gap: 26px;
        }

        &__btn{
            border: 1px solid #36536B;
            border-radius: 24px;
            padding: 15px 50px;
            margin-top: 24px;
            background-color: transparent;
            color: #36536B;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 15px;
            transition: 0.3s ease;

            &:hover{
                transform: scale(1.1);
            }

            &:active{
                transform: scale(0.9);
            }

        }
    }
}

.aside{

    &__container{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title{
        font-weight: 400;
        font-size: 24px;
        color: #36536B;
    }
}

textarea {
    height: 89px;
    resize: none;
}

.contact {
    margin-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            color: #36536B;
            font-size: 48px;
            font-weight: 400;
        }

        &__inp {
            position: relative;

            &__input {
                width: 445px;
                height: 48px;
                outline: none;
                border: none;
                background-color: #FBFCFE;
                box-shadow: 10px 10px 25px -10px #36536B40;
                border-radius: 24px;


                &::placeholder {
                    padding-left: 27px;
                    color: #36536B;
                    font-weight: 700;
                }
            }

            &__btn {
                position: absolute;
                background-color: #BA4270;
                color: #fff;
                border: none;
                outline: none;
                width: 173px;
                height: 48px;
                border-radius: 24px;
                right: 0;
                height: 100%;
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 96px;
    background-color: #1B262F;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 31px;

        &__list {
            display: flex;
            list-style: none;
            gap: 40px;

            &__items {

                &__link {
                    text-decoration: none;
                    color: #FBFCFE;
                    font-family: "public sans";
                    transition: 0.3s ease;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        &__socials {
            display: flex;
            gap: 24px;
        }
    }
}

label{
    font-family: "public sans";
    color: #36536B;
    font-weight: 400;
}