.just{
    margin-top: 150px;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__texts{

            &__title{
                font-size: 48px;
                font-weight: 400;
                color: #36536B;
            }

            &__text{
                color: #6C8294;
                font-family: "public sans";
                margin-top: 24px;
            }
        }
    }
}