.pricing__header {
    margin-top: 40px;
    background-image: url(../../images/Bitmap\(1\).png);
    background-repeat: no-repeat;
    background-position: right;

    &__container {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img {
            width: 134px;
            height: 37px;
        }

        &__list {
            list-style: none;
            display: flex;
            gap: 40px;

            &__link {
                font-family: "public sans";
                font-weight: 700;
                font-size: 15px;
                text-decoration: none;
                color: #36536B;

                &:hover {
                    opacity: 0.6;
                    transition: 0.3s ease;
                }

            }
        }

        &__link {
            text-decoration: none;
            color: #FBFCFE;
            padding: 15px 25px;
            background-color: #BA4270;
            border-radius: 24px;
            box-shadow: 10px 10px 25px -10px #36536B40;
            font-family: "public sans";
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.price {
    margin-top: 82px;

    // &__container{

    // }

    &__title {
        font-size: 56px;
        font-weight: 400;
        color: #36536B;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 72px;

        &__card {


            &__title {
                font-size: 32px;
                font-weight: 400;
                color: #BA4270;
            }

            &__prices {
                font-size: 56px;
                font-weight: 400;
                color: #36536B;
                margin-top: 80px;
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__items {

                    &__text {
                        font-family: "public sans";
                    }

                    &__textt {
                        color: gray;
                        font-family: "public sans";
                    }
                }
            }

            &__link {
                display: inline-block;
                padding: 15px 28px;
                border-radius: 24px;
                border: 2px solid #36536B;
                color: #36536B;
                font-weight: 700;
                font-family: "public sans";
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            &__line {
                background-color: #36536B;
                opacity: 25%;
                width: 350px;
                height: 1px;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}

.contact {
    margin-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            color: #36536B;
            font-size: 48px;
            font-weight: 400;
        }

        &__inp {
            position: relative;

            &__input {
                width: 445px;
                height: 48px;
                outline: none;
                border: none;
                background-color: #FBFCFE;
                box-shadow: 10px 10px 25px -10px #36536B40;
                border-radius: 24px;


                &::placeholder {
                    padding-left: 27px;
                    color: #36536B;
                    font-weight: 700;
                }
            }

            &__btn {
                position: absolute;
                background-color: #BA4270;
                color: #fff;
                border: none;
                outline: none;
                width: 173px;
                height: 48px;
                border-radius: 24px;
                right: 0;
                height: 100%;
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 96px;
    background-color: #1B262F;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 31px;

        &__list {
            display: flex;
            list-style: none;
            gap: 40px;

            &__items {

                &__link {
                    text-decoration: none;
                    color: #FBFCFE;
                    font-family: "public sans";
                    transition: 0.3s ease;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        &__socials {
            display: flex;
            gap: 24px;
        }
    }
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}